@import 'src/styles/fonts';
.containerInput {
  height: 50px !important;
  border-radius: 10px !important;
  color: black !important;
  background: white !important;
  border: 1px dashed #bdbdbd !important;
  box-sizing: border-box !important;

  :global {
    .ant-upload {
      padding: 0 12px 0 20px !important;
    }
  }
}

.containerInput:hover {
  border: 1px dashed var(--primaryColor) !important;
}
