@import 'src/styles/fonts';

.searchbox {
  //height: 50px !important;
}

.hideSuffix {
  :global {
    .anticon.anticon-search.ant-input-search-icon {
      display: none !important;
    }
  }
}

.containerBorder {
  display: flex;
  border: 8px solid #f8f8fa !important;
  border-radius: 10px !important;

  :global {
    .ant-input {
      font-size: 16px !important;
    }

    .ant-input-group-addon {
      padding: 0 !important;
    }
  }
}

.containerBorderless {
  :global {
    .ant-input-search {
      border-radius: 5px !important;
    }

    .ant-input {
      @include font-sm-normal;
      word-spacing: -4px !important;
    }

    .ant-input-group-addon {
      padding: 0 !important;
      border: none !important;
    }

    .ant-input::placeholder {
      //@include font-sm-normal;
    }
  }
}
