$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;
$navbaradmin: 1650px;


$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$bulma-breakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  desktop: $desktop,
  widescreen: $widescreen,
  fullhd: $fullhd,
  navbaradmin: $navbaradmin,
);

$antd-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);
