@mixin font {
  font-family: CircularStd-Medium !important;
  word-spacing: -4px !important;
}

@mixin font-xs-normal {
  @include font;
  font-size: 14px !important;
  font-weight: normal !important;
}


@mixin font-normal {
  @include font;
  font-weight: normal !important;
}

@mixin font-bold {
  @include font;
  font-weight: bold !important;
}

@mixin font-xs-normal {
  @include font-normal;
  font-size: 14px !important;
}

@mixin font-sm-normal {
  @include font-normal;
  font-size: 16px !important;
}

@mixin font-md-normal {
  @include font-normal;
  font-size: 18px !important;
}

@mixin font-lg-normal {
  @include font-normal;
  font-size: 30px !important;
}

@mixin font-xs-bold {
  @include font-bold;
  font-size: 14px !important;
}

@mixin font-xs-bold {
  @include font;
  font-size: 14px !important;
  font-weight: bold !important;
}

@mixin font-sm-bold {
  @include font-bold;
  font-size: 16px !important;
}

@mixin font-md-bold {
  @include font-bold;
  font-size: 18px !important;
}

@mixin font-lg-bold {
  @include font-bold;
  font-size: 30px !important;
}
