@font-face {
  font-family: 'SFProText-Regular';
  src: local('SFProText'), local('SFProText-Regular'),
    url('/fonts/SFProText/SFProText-Regular.ttf') format('truetype'),
    url('/fonts/SFProText/SFProText-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText-Bold';
  src: url('/fonts/SFProText/SFProText-Bold.ttf') format('truetype'),
    url('/fonts/SFProText/SFProText-Bold.otf') format('opentype');
}

:global {
  .cursor-pointer {
    cursor: pointer !important;
  }

  .rounded-8 {
    border-radius: 8px !important;
  }

  .w-full {
    width: 100%;
  }

  .full-height {
    height: 100%;

    .ant-spin-container {
      height: 100%;
    }
  }

  .reset-a,
  .reset-a:hover,
  .reset-a:visited,
  .reset-a:focus,
  .reset-a:active {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}

$max-width: 1440px;
