$max-width: 1440px;

:global {
  :root {
    --backgroundColor: #f7f7f7;
    --backgroundGray: #f8f8fa;
    --primaryColor: #1b5292;
    --textColorSecondary: rgba(0, 0, 0, 0.45);

    --primaryFont: CircularStd-Medium;
  }

  #__next {
    height: 100%;
  }
}
