@import 'src/styles/fonts';

.select {
  :global {
    .ant-select-selector {
      height: 50px !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      border-radius: 10px !important;
    }
    .ant-select-selection-search-input {
      height: 50px !important;
    }

    .ant-select-selection-placeholder {
      line-height: 47px !important;
     
    }

    .ant-select-arrow {
      right: 20px !important;
    }

    .ant-select-selection-item {
      align-self: center !important;
      @include font-sm-normal;
  }
  }

  height: 50px !important;
  width: 100% !important;
  @include font-sm-normal;
  color: black !important;
}

.dropdown {
  // :global {
  //   .ant-select-item-option-content{
  //     @include font-sm-normal;
  //  }

  // }
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px !important;
}
