@import 'src/styles/fonts';

.marginInput {
  :global {
    .ant-select-selection-search-input {
      margin: 10px 5px !important;
      max-width: calc(100% - 15px);
    }
  }
}

.containerSelect {
  :global {
    .ant-select-selector {
      min-height: 50px !important;
      border-radius: 10px !important;
      padding: 10px 10px !important;
    }

    .ant-select-arrow {
      right: 17px !important;
    }

    .ant-select-selection-placeholder {
      padding: 0 10px !important;
    }
    .ant-select-selection-item {
      padding: 0 10px !important;
    }

    .ant-select-selection-placeholder,
    .ant-select-selection-item {
      @include font-sm-normal;
      color: black !important;
      word-spacing: -4px !important;
    }

    .ant-select-item-option-content {
      @include font-sm-normal;
    }
  }
}

.dropdown {
  :global {
    .ant-select-item-option-content {
      @include font-sm-normal;
    }
  }
}
