@import 'src/styles/mixins';
@import 'src/styles/breakpoints';

$breakProfile: 980;
$breakSearch1: 1214;
$breakSearch2: 944;
$breakSearch3: 833;

.custom {
  background-color: #ffffff !important;
  height: 70px !important;
  display: flex !important;
  padding: 10px 12px !important;
  align-items: center !important;
  border-bottom: 1px solid #f0f0f0 !important;
}

.dropdownAutocomplete {
  border-radius: 20px !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2) !important;
  top: 63px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;

  :global {
    .ant-select-item {
      margin: 0 15px !important;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background: #eff6ff !important;
      border-radius: 10px !important;
    }
  }
}

.autoComplete {
  :global {
    .ant-select-selector {
      width: 100%;
    }
  }
}

.searchbox {
  //height: 45px !important;
  //width: 100% !important;
}

.notifikasi {
  border: none !important;
  box-shadow: none !important;
  margin-right: 10px !important;
}

.profile {
  display: flex !important;
  margin-top: 1px !important;
  align-items: center !important;
}

.name {
  margin-right: 13px !important;
  @include xs {
    display: none !important;
    margin-right: 0px !important;
  }
}

.notifContent {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f0f0f0 !important;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.popOver {
  width: 20%;
}

.scrollbar {
  max-height: 300px;
  overflow: auto;
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}

.customPopover {
  :global {
    .ant-popover-inner {
      border-radius: 20px;
    }
  }
}
