@import 'src/styles/fonts';

.containerSelect {
  :global {
    .ant-select-selector {
      min-height: 50px !important;
      border-radius: 10px !important;
      padding: 10px 10px !important;
      padding-right: 40px !important;
    }

    .ant-select-arrow {
      right: 20px !important;
      top: 22px !important;
    }

    .ant-select-selection-search-input {
      height: auto !important;
    }

    .ant-select-selection-placeholder {
      padding: 0 10px !important;
    }
    .ant-select-selection-item {
      padding: 0 10px !important;
    }

    .ant-select-selection-placeholder,
    .ant-select-selection-item {
      @include font-sm-normal;
      color: black !important;
      word-spacing: -4px !important;
    }

    .ant-select-item-option-content {
      @include font-sm-normal;
    }
  }
}

.displayNone {
  display: none !important;

}

.dropdown {
  :global {
    .ant-select-item-option-content {
      @include font-sm-normal;
    }
  }
}
