.loading {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: #F3F3F377;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullContainer {
  position: absolute;
  background-color: var(--antd-color-gray);
  width: 100%;
  height: 100%;
  text-align: center;
}

.fullLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
