.container {
  width: 100%;
  overflow-x: auto;
  table {
    border-spacing: 0;
    //border: 1px solid black;
    width: 100%;

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid #d4d4d4;
      //border-right: 1px solid black;

      :last-child {
        border-right: 0;
      }
    }

    th {
      background-color: #f1f1f1;
    }
  }
}
