.menu {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  border: 2px solid #0b6dc6;
  border-radius: 4px;
}
.line {
  fill: none;
  stroke: #0b6dc6;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  //noinspection CssInvalidPropertyValue
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  //noinspection CssInvalidPropertyValue
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  //noinspection CssInvalidPropertyValue
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened {
  .line1 {
    //noinspection CssInvalidPropertyValue
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .line2 {
    //noinspection CssInvalidPropertyValue
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .line3 {
    //noinspection CssInvalidPropertyValue
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}
