.customFont {
    :global(.ant-checkbox-wrapper){
        font-family: CircularStd-Medium !important;
        font-weight: normal !important;
        font-size: 16px !important;
        color: black !important;
        word-spacing: -4px !important;
    }
    
}